/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(20, 20, 20);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondos.jpg");
   
}
.titulo{
font-size: 60px;
color: black;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img1{
height: 300px;    
width: 350px;
background-image: url("circuito.jpeg")
}

.img2{
height: 300px;
width: 400px;    
background-image: url("circuitos.jpeg")
}

.img3{
height: 600px;   
width: 600px; 
background-image: url("ciclo\ menstrual.jpeg");
}

.img4{
  height: 600px;  
  width: 700px;
  background-image:  url("trastornos\ alimenticios.jpeg");
}

.img5{
height: 230px;
width: 200px;
background-image: url("anorexia.jpeg"); 


}

.img6{
height: 300px;
width: 500px;
background-image: url("DIBUJO\ ANOREXIA.JPEG");    
}

.img7{
 height: 180px;
 width: 250px;
 background-image: url("bulimia.jpeg");   
}

.img8{
height: 180px;
width: 250px;
background-image: url("dibujos\ bulimia.jpeg");    
}

.img9{
height: 500px;
width: 500px;
background-image: url("alimentarse\ saludable.jpeg");    
}

.img10{
height: 600px;
width: 600px;
background-image: url("actividad\ fisica.jpeg");    
}

.img11{
height: 500px;
width: 600px;
background-image: url("dormir.jpeg");    
}

.img12{
height: 200px;
width: 250px;
background-image: url("regular.jpeg");    
}

