.contenedor{

width: 100%;
height: 2000px;
background-color: blueviolet;
display: flex;
flex-direction: column;
text-align: center;

}

.encabezado{
    width: 100%;
    height: 600px;
    background-color: blue;
    color: black;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.matematicas{
    width: 100%;
    height: 600pxpx;
    background-color: rgb(0, 255, 157);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ingles{
    width: 100%;
    height: 3000px;
    background-color: rgb(182, 172, 32);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

} 

.tecnologia{
    width: 100%;
    height: 800px;
    background-color: rgb(226, 65, 127);
font-size: 20px;
color: black;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.biologia{
    width: 100%;
    height: 6000px;
    background-color: rgb(187, 34, 34);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 20px;
}

.quimica{
    width: 100%;
    height: 3500px;
    background-color: rgb(223, 119, 50);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
