/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(20, 20, 20);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondos.jpg");
   
}
.titulo{
font-size: 60px;
color: black;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img1{
height: 300px;    
width: 350px;
background-image: url("circuito.jpeg")
}

.img2{
height: 300px;
width: 400px;    
background-image: url("circuitos.jpeg")
}


.img4{
  height: 600px;  
  width: 700px;
  background-image:  url("trastornos\ alimenticios.jpeg");
}

.img5{
height: 230px;
width: 200px;
background-image: url("anorexia.jpeg"); 


}

.img6{
height: 300px;
width: 500px;
background-image: url("DIBUJO\ ANOREXIA.JPEG");    
}

.img7{
 height: 180px;
 width: 250px;
 background-image: url("bulimia.jpeg");   
}

.img8{
height: 180px;
width: 250px;
background-image: url("dibujos\ bulimia.jpeg");    
}

.img9{
height: 500px;
width: 500px;
background-image: url("alimentarse\ saludable.jpeg");    
}

.img10{
height: 600px;
width: 600px;
background-image: url("actividad\ fisica.jpeg");    
}

.img11{
height: 500px;
width: 600px;
background-image: url("dormir.jpeg");    
}

.img12{
height: 200px;
width: 250px;
background-image: url("regular.jpeg");    
}

.img13{
height: 700px;
width: 1000px;
background-image: url("meditar\ o\ realizar.jpeg");    
}

.img14{
height: 1000px;
width: 1000px;
background-image: url("estudiar.jpeg");    
}

.img15{
height: 1000px; 
width: 700px;
background-image: url("proposito.jpeg");   
}

.img16{
height: 180px;
width: 280px;
background-image: url("ahorrar.\ jpeg.jfif");    
}

.img17{
height: 400px;
width: 650px;
background-image: url("transportes.jpeg");    
}

.img18{
height: 650px;
width: 950px;
background-image: url("ocio.jpeg");    
}

.img19{
height: 500px;
width: 700px;
background-image: url("conversar.jpeg");    
}

.img20{
height: 200px;
width: 250px;
background-image: url("comunidad.jpeg");    
}

.img21{
height: 180px;
width: 250px;
background-image: url("no\ desayunar.jpeg");    
}

.img22{
height: 480px;
width: 1000px;
background-image: url("fumar.jpeg");    
}

.img23{
height: 180px;
width: 250px;
background-image: url("dormir\ poco.jpeg");    
}

.img24{
height: 200px;
width: 250px;
background-image: url("alcohol.jpeg");    
}

.img25{
height: 800px;
width: 1000px;
background-image: url("no\ realizar\ actividad\ fisica.jpeg");    
}

.img26{
height: 400px;
width: 700px;
background-image: url("deshoras.jpeg");    
}

.img27{
height: 180px;    
width: 260px;
background-image: url("estresado.jpeg");
}

.img28{
height: 730px;
width: 1000px;
background-image: url("protegerse\ del\ sol.jpeg");    
}

.img29{
height: 410px;
width: 600px;
background-image: url("television.jpeg");    
}

.img30{
height: 300px;
width: 500px;
background-image: url("diesta.jpeg");    
}

.img31{
height: 500px;
width: 900px;
background-image: url("bebidas.jpeg");    
}

.img32{
height: 400px;
width: 700px;
background-image: url("dieteticos.jpeg");
}

.img33{
height: 250px;
width: 430px;
background-image: url("mentrual.jpeg");    
}

.img34{
height: 1000px;
width: 2500px;
background-image: url("desprendimiento.jpeg");    
}

.img35{
height: 550px;
width: 500px;
background-image: url("ciclo\ menstrual2.jpeg");    
}


.img36{
height: 900px;
width: 2500px;
background-image: url("ovulacion.jpeg");    
}


.img3{
height: 500px; 
width: 1200px;
background-image: url("ciclo\ menstrual.jpeg");   
}

.img37{
height: 380px;
width: 500px;
background-image: url("fases.jpeg");    
}

.img38{
height: 200px;
width: 290px;
background-image: url("distribucion.jpeg");    
}


.img39{
height: 220px;
width: 260px;
background-image: url("niveles.jpeg");    
}

.img40{
height: 200px;
width: 250px;
background-image: url("electronica.jpeg");    
}

.img41{
height: 600px;
width: 1300px;
background-image: url("suma\ de\ polinomios.jpg");    
}

.img42{
height: 500px;
width: 600px;
background-image: url("polinomios\ suma.jpeg");    
}

.img43{
height: 150px;
width: 320px;
background-image: url("resta\ de\ polinomios.\ jpeg.jfif");    
}


.img44{
height: 310px;
width: 500px;
background-image: url("polinomios\ resta.jpeg");    
}

.img45{
height: 670px;
width: 1200px;
background-image: url("multiplicacion.jpeg");    
}

.img46{
height: 150px;
width: 300px;
background-image: url("multiplicacion\ de\ polinomios.jpeg");    
}

.img47{
height: 400px;
width: 700px;
background-image: url("division.jpeg");    

}

.img48{
height: 400;
width: 700px;
background-image: url("division\ de\ polinomios.jpeg");    
}

.img49{
height: 640px;
width: 1000px;
background-image: url(funciones\ basicas.jpeg);  

}

.img50{
height: 390px;
width: 750px;
background-image: url(merecemos\ un\ trato\ digno.jpeg);  
}

.img51{
height: 400px;
width: 600px;
background-image: url(escuchar.jpeg);  
}

.img52{
height: 450px;
width: 570px;
background-image: url(diferencia.jpeg);  
}

.img53{
height: 600px;
width: 600px;
background-image: url(violencia.jpeg);  
}

.img54{
height: 370px;
width: 750px;
background-image: url(identidad.jpeg);
}

.img55{
height: 640px;
width: 650px;
background-image: url(estereotipos.jpeg);  
}

.img56{
height: 1300px;
width: 1300px;
background-image: url(embarazo.jpeg);  
}

.img57{
height: 1000px;
width: 2400px;
background-image: url(el\ embarazo.jpeg);  
}

.img58{
height: 600px;
width: 580px;
background-image: url(embrionario.jpeg);
}

.img59{
height: 300px;
width: 600px;
background-image: url(parto.jpeg);  
}